* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./assets/background2.png");
    /* background-color: #2e0741; */
    background-size: cover;
    font-family: "Inter", sans-serif;
    background-attachment: fixed;
}

.panel {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    font-size: large;
    color: white;
    padding: 10px;
}

.title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.05em;
    text-decoration: none;
    color: #edf0f1;
    margin-left: 10px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #24252a;
    border-radius: 10px;
    margin-bottom: 10px;
}

.in-banner {
    
    width: 95%;
    height: 85%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* border: 3px solid white; */
    border: 2px solid #535353;
    border-radius: 10px; 
    margin: 0px 10px;

    
}

.perfil-in-banner {
    display: flex;
    width: 25%;
    justify-content: center;
    
}

.perfil-in-banner img {
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
    border-radius: 100%;
    object-fit: cover;
}


.perfil-icon-banner img {
    border-radius: 100%;
    max-height: 30px;
    width: 30px;
    height: 30px;
    /* margin-top: 7px;
    margin-left: 25px; */
    object-fit: cover;
    padding: 5px;
}

.token-icon {
    border: none;
    cursor: pointer;
    background: none;
}

.token-icon img {
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: background-color 0.3s ease
}

.perfil-icon {
    border: none;
    background: none;
}

.perfil-icon img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 7px;
    cursor: pointer;
    object-fit: cover;
    transition: background-color 0.3s ease
}

.mediateBox {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.discussionBox {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.relevanceBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-right: 1px solid #450066;
    padding: 10px;
}
#receiveSecond {
    padding: 5px;
}
#receiveThird {
    appearance: none;
}

.expose-relevance {
    text-align: center;
    font-size: small;
    font-weight: 800;
    color: #450066;
}

.discussion-upper {
    justify-content: start;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 10px;
}

.image-icon {
    width: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease
}

.delete-icon {
    width: 25px;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease
}

.image-icon-press {
    width: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
}

.expose-message {
    padding-left: 10px;
    max-width: 580px;
    font-size: larger;
    font-weight: 600;
    color: #450066;
    word-wrap: break-word;
}

.formBox {
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 580px;
}

.expose-message-cmt {
    overflow: hidden;
    margin: 10px;
    font-size: smaller;
    font-weight: 600;
    color: #450066;
    word-wrap: break-word;
}

.token-message {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    font-size: x-small;
    font-weight: 500;
    color: #450066;
}

.submit-message {
    width: 950px;
    height: 35px;
    margin: 10px;
    max-width: 500px;
    resize: none;
    background-color: rgb(214, 210, 210);
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.submit-message::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #450066;
}

.display {
    display: block;
    cursor: pointer;
    background-color: white;
    height: 35px;
    width: 200px;
    max-width: 13%;
    margin: 10px;
    text-align: center;
    font-weight: 500;
    color: #450066;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
    /* Adiciona uma transição suave */
}

.image-display {
    display: block;
    line-height: 35px;
    background-color: white;
    height: 35px;
    width: 145px;
    margin-left: 10px;
    font-size: small;
    text-align: center;
    font-weight: 500;
    color: #450066;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease
}

.display-submit {
    display: block;
    cursor: pointer;
    background-color: white;
    height: 35px;
    width: 145px;
    margin-left: 10px;
    text-align: center;
    font-weight: 500;
    color: #450066;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease
}

.perfil-icon img:hover,
.display:hover,
.display-submit:hover,
.image-icon:hover,
.delete-icon:hover,
.image-display:hover {
    background-color: rgb(211, 211, 211);
}

.messageLarge {
    font-size: x-large;
    width: 500px;
    height: 100px;
    margin: 10px;
    display: block;
    background-color: #201e1e;
    color: #8a8383;
    border-radius: 5px;
}