* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./assets/background2.png");
    /* background-color: #2e0741; */
    background-size: cover;
    font-family: "Inter", sans-serif;
}

.panel {
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    font-size: large;
    color: white;
    padding: 10px;
}

.mediateBox {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.discussionBox {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.discussion-part-1 {
    display: absolute;
    border-right: 1px solid #450066;
}

.expose-relevance {
    text-align: center;
    font-size: small;
    font-weight: 900;
    margin-right: 10px;
    color: #450066;
}

#image-icon {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease
}

.expose-message {
    margin: 10px;
    font-size: larger;
    font-weight: 900;
    color: #450066;
}

.token-message {
    display: flex;
    margin-left: 10px;
    font-size: x-small;
    font-weight: 900;
    color: #450066;
}

.commentBox {
    display: flex;
    font-size: smaller;
    color: white;
    padding: 10px;
    background-color: #4d4d4d;
    border-radius: 5px;
    margin: 10px;
}

.submit-message {
    width: 900px;
    height: 35px;
    margin: 10px;
    max-width: 500px;
    background-color: rgb(214, 210, 210);
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.submit-message::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #450066;
}

.display {
    display: block;
    cursor: pointer;
    background-color: white;
    height: 35px;
    width: 200px;
    max-width: 12%;
    margin: 10px;
    text-align: center;
    font-weight: 900;
    color: #450066;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.display-submit {
    display: block;
    cursor: pointer;
    background-color: white;
    height: 35px;
    width: 145px;
    margin-left: 10px;
    text-align: center;
    font-weight: 900;
    color: #450066;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease
}

.display:hover,  .display-submit:hover, #image-icon:hover{
    background-color: rgb(211, 211, 211);
}

.messageLarge {
    font-size: x-large;
    width: 500px;
    height: 100px;
    margin: 10px;
    display: block;
    background-color: #201e1e;
    color: #8a8383;
    border-radius: 5px;
}