nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.user-logged {
    font-size: small;
    font-weight: 900;
    color: #450066;
}

.red-button {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.logo {
    font-size: xx-large;
    background-color: white;
    border: none;
    font-weight: 900;
    color: #450066;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-message {
    font-weight: 900;
    color: #450066;
    text-align: center;
    font-size: smaller;
}
.nav-itens {
    list-style: none;
    display: flex;
    font-size: small;
}

.nav-itens>li {
    padding-left: 20px;
}