@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&family=Press+Start+2P&family=Raleway:ital,wght@0,500;0,700;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.up {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column{
  flex: 50%;
  padding: 0 10px;
  margin-top: 32px;
  align-self: center;
}
.column img {
  width: 100%;
  height: auto;
}
.column p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

#gradient {
  font-family: "Inter", sans-serif;
  margin: 5% 0 5% 0;
  font-size: 60px;
  font-weight: 800;
  line-height: 93.5%;
  /* or 73px */
  letter-spacing: -0.05em;
  background: radial-gradient(
      64.79% 294.87% at 13.44% 37.11%,
      #340948 0%,
      rgba(0, 0, 0, 0.87) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.05em;
  text-decoration: none;
  color: #edf0f1;
}

.logo:hover a{
  color: rgb(121, 0, 169);
}

.nav__links a,
.login,
.overlay__content a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 15px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(121, 0, 169);
}

.login {
  padding: 9px 25px;
  background-color: rgb(121, 0, 169);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.login:hover {
  background-color: rgb(53, 53, 53);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: rgb(121, 0, 169);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

.carousel {
  margin: 50px auto;
  padding: 0 70px;
  background-color: #24252a;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .login {
    display: none;
  }
  .menu {
    display: initial;
  }

  .container {
    flex-direction: row;
  }
}